<!--<img class="fixed-top h-100 w-100 imgLoginWallpaper" src="https://dl.dropboxusercontent.com/s/6p5it192scj6vub/img.jpg?dl=0">-->
<img class="fixed-top h-100 w-100 imgLoginWallpaper"
     src="https://dl.dropboxusercontent.com/s/6o2d6lfreqyiper/loginWallpaper.jpg?dl=0">
<form (ngSubmit)="entrar()" id="formularioLogin">
  <div class="login-box">
    <h1>Iniciar Sesión</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Nombre de Usuario" value="" [autofocus]="true" [(ngModel)]="user.username" autofocus name="username" required>
    </div>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Contraseña" [(ngModel)]="user.password" value="" name="password">
    </div>

    <input class="btn" type="submit" value="Entrar" (click)="entrar()">
    <div class="d-flex justify-content-around">
      <!--    <div>-->
      <!--      &lt;!&ndash; Remember me &ndash;&gt;-->
      <!--      <mdb-checkbox [default]="true">Remember me</mdb-checkbox>-->
      <!--    </div>-->
      <div>
        <a style="color: #ffee10" (click)="forgottenPassword()">No recuerdo la contraseña</a>
      </div>
    </div>
    <p style="text-align: center">¿Quieres tener una cuenta?
      <a [routerLink]="['/signup']">Registrate</a>
    </p>
  </div>
</form>
<app-forgotten-password (volver)="irAlogin()" id="forgotten" style="display: none"></app-forgotten-password>
