<div style="margin-top: 7%">

</div>
<app-paginator *ngIf="paginator" [paginator] = paginator></app-paginator>

<div class="card-deck m-4" *ngFor="let global of listaGlobal" style="align-items: center">

  <!-- Card -->

  <mdb-card *ngFor="let modelo of global" style="max-width: 30rem">
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <mdb-card-title>
        <h1 style="font-size: 200%;">{{modelo.modelo}}</h1>
      </mdb-card-title>
      <mdb-card-text>
        <h2>{{modelo.marca.marcaCoche}}</h2>
      </mdb-card-text>
      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>
</div>
<app-paginator *ngIf="paginator" [paginator] = paginator></app-paginator>
