<div class="styleSlide" [ngClass]="{'toggled' : getSideBarState()}" style="z-index: 10">
  <app-sidebar class="animation mt-8 appS" id="app-sidebar" [loading]="loading" [ngClass]="getSlide()"
               (filtrar)="actualizarFiltros($event)"></app-sidebar>
  <a class="myButton animation" [ngClass]="getSlide()+'Alt'" (click)="setSlide()">
    <img style="filter: brightness(75%);width: 15px;height: auto" src="assets/images/filtrar.png">
  </a>
</div>


<div style="margin-top: 80px"></div>
<div id="figurasBusqueda" class="figuras padre">
  <div class="paralelogramoInv forma" style=" margin-right: 10.2%">
    <div class="normalInv">
      <form class="example-form">
        <mat-form-field class="example-full-width placeholder" style="color: white">
          <mat-placeholder class="placeholder" style="Font-family: fantasy; font-size: large">Marca</mat-placeholder>
          <input (click)="borrarValor($event)" style="Font-family: fantasy; font-size: 20px" type="text"
                 aria-label="Number" value="{{marcaSelected}}" matInput [formControl]="controlMarca"
                 [matAutocomplete]="autoMarca">
          <mat-autocomplete autoActiveFirstOption #autoMarca="matAutocomplete" (autocomplete)="false"
                            (optionSelected)="selectionMarca($event)">
            <mat-option *ngFor="let option of opcionesMarca | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="tri forma">
    <img *ngIf="marca.idMarca && marca.idMarca>=0" src="{{urlEndPointImgMarcaLogo}}{{marca.idMarca}}" alt="Sin Imagen"
         class="img-fluid imgMarcas rounded">
    <img *ngIf="!marca.idMarca || marca.idMarca<0" src="{{urlEndPointImgLogo}}/FYClogo.png" alt="Sin Imagen"
         class="img-fluid imgMarcas rounded">
  </div>
  <div class="paralelogramo forma" style="margin-left: -0.85%">
    <div class="normal">
      <form class="example-form">
        <mat-form-field class="example-full-width" style="color: white; max-height: 10px">
          <mat-placeholder class="placeholder" style="Font-family: fantasy; font-size: large;">Modelo</mat-placeholder>
          <input (click)="borrarValor($event)" style="margin-left: -0.85%; Font-family: fantasy; font-size: 20px"
                 type="text" aria-label="Number" value="{{modeloSelected}}" matInput [formControl]="controlModelo"
                 [matAutocomplete]="autoModelo">
          <mat-autocomplete autoActiveFirstOption #autoModelo="matAutocomplete" (autocomplete)="false"
                            (optionSelected)="selectionModelo($event)">
            <mat-option *ngFor="let option of opcionesModelo | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>

<app-paginator id="test1" *ngIf="paginator && mostrarPaginator" [paginator]=paginator [paths]=paths></app-paginator>

<app-loading *ngIf="loading"></app-loading>
<div style="height: 50px"></div>

<div class="card-deck m-4" *ngFor="let global of listaGlobal" [ngClass]="zindex" style="align-items: center;">

  <!-- Card -->

  <mdb-card *ngFor="let modelo of global" class="cardPerso">
    <div class="view rgba-white-slight waves-light h-50" mdbWavesEffect style="border-radius: 5px 5px 0 0">
      <a><img class="imgModelo" [routerLink]="['/modelo',modelo.idModelo]"
              src="{{urlEndPointUploadImg}}/{{modelo.imagen}}" alt="{{modelo.imagen}}"></a>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <mdb-card-title>
        <h1 class="truncar">{{modelo.modelo}}</h1>
      </mdb-card-title>
      <mdb-card-text>
        <h2>{{modelo.marca.marcaCoche}}</h2>
        <h3 *ngIf="precios.size<=0" class="precio">Cargando precio...</h3>
        <h3 *ngIf="isNaN(precios,modelo) && precios.size>0" class="precio">Precio no disponible</h3>
        <h3 *ngIf="!isNaN(precios,modelo)&& precios.size>0" class="precio">Desde {{formatPrecio(precios, modelo)}}€</h3>
      </mdb-card-text>
      <input [routerLink]="['/modelo',modelo.idModelo]" type="button"
             class="styleA truncar " value="{{modelo.modelo}}" mdbWavesEffect>
    </mdb-card-body>
  </mdb-card>
</div>
<div style="margin-bottom: 4.5%"></div>
<app-paginator *ngIf="paginator && paginator.totalPages>1 && mostrarPaginator" [paginator]=paginator
               [paths]=paths></app-paginator>
<div style="margin: 20px"></div>





