nav{
  background: rgb(65,65,65);
  background: radial-gradient(circle, rgba(65,65,65,0) 0%, rgba(254,255,0,0.1) 0%);
  height: 60px;
  border-radius: 50px;
  border-color: #FFE100;
  border-style: solid;
  width: 50%;
  margin: auto;
}
li{
  margin: auto;
}
a{
  vertical-align: middle;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px #1b1e21;
}

a:hover{
  text-shadow: 2px 2px #1b1e21;
}

input{
  color: #ffffff;
}
.shadowPerso{
  border-radius: 50px;
  font-size: 15px;
  color: white;
  text-shadow: 2px 2px #1b1e21;
}
