<mdb-navbar SideClass="navbar-expand-sm navbar-dark font-weight-bold font-weight-light" class="navStyle"
            mdbStickyHeader>
  <div class="menu_bar">
    <a class="bt-menu" (click)="setSlide()"><i class="fas fa-bars" style="display: inline-block"></i>Menu</a>
    <!--    <div id="firstDivGradient" class="gradient-border gradientPerso" style="margin-bottom: 0em"></div>-->
  </div>


  <nav [ngClass]="[getSlide(),getAnimation()]" class="centerNav">
    <div class="align-items-left justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a>
            <img (click)="setSlideOut()" [routerLink]="['/home']"
                 src="https://dl.dropboxusercontent.com/s/p076br0njm8vx43/fyclogo.png?dl=0"
                 class="d-inline-block align-top navImg" alt="">
          </a>
        </li>
        <li class="nav-item styleLink" routerLinkActive="active">
          <a mdbWavesEffect class="nav-link styleLinkA" (click)="setSlideOut()" [routerLink]="['/home']">Home <span
            class="sr-only"></span></a>
        </li>
        <li class="nav-item styleLink" routerLinkActive="active">
          <a mdbWavesEffect class="nav-link styleLinkA" (click)="setSlideOut()" [routerLink]="['/marcas']">Marcas <span
            class="sr-only"></span></a>
        </li>
        <li class="nav-item styleLink" routerLinkActive="active">
          <a mdbWavesEffect class="nav-link styleLinkA" (click)="setSlideOut()" [routerLink]="['/modelos']">Modelos
            <span
              class="sr-only"></span></a>
        </li>
        <li class="nav-item styleLink" routerLinkActive="active">
          <a mdbWavesEffect class="nav-link styleLinkA" (click)="setSlideOut()" [routerLink]="['/sidebar']">Sidebar
            <span
              class="sr-only"></span></a>
        </li>
        <li class="nav-item styleLink" routerLinkActive="active">
          <a mdbWavesEffect class="nav-link styleLinkA" (click)="setSlideOut()" [routerLink]="['/conoceme']">Conóceme
            <span
              class="sr-only"></span></a>
        </li>
        <li class="nav-item styleLink" id="navSignIn" routerLinkActive="active">
          <a mdbWavesEffect class="nav-link styleLinkA" (click)="setSlideOut()" [routerLink]="['/login']">Iniciar Sesión
            <span
              class="sr-only"></span></a>
        </li>
        <li class="nav-item styleLink" id="navSignUp" routerLinkActive="active">
          <a mdbWavesEffect class="nav-link styleLinkA" (click)="setSlideOut()" [routerLink]="['/signup']">Resgistrarse
            <span
              class="sr-only"></span></a>
        </li>
        <!--        <li class="nav-item styleLink" routerLinkActive="active" style="margin-right: -20px">-->
        <!--          <table class="table" style="width: 400px; height: 150px; background: #5ee7df">-->
        <!--          <a mdbWavesEffect class="col-lg-2 nav-link styleLinkA glow-on" (click)="setSlideOut()" id="signUp"  type="button">Registrarse-->
        <!--&lt;!&ndash;            <button id="signUp" class="glow-on" type="button">Registrarse</button>&ndash;&gt;-->
        <!--&lt;!&ndash;            <div class="glow-on2"></div>&ndash;&gt;-->
        <!--          </a><a mdbWavesEffect class="col-lg-2 nav-link styleLinkA glow-on" (click)="setSlideOut()" id="signIn"  type="button">Iniciar Sesión-->
        <!--&lt;!&ndash;            <button id="signUp" class="glow-on" type="button">Registrarse</button>&ndash;&gt;-->
        <!--&lt;!&ndash;            <div class="glow-on2"></div>&ndash;&gt;-->
        <!--          </a>-->
        <!--          </table>-->
        <!--        </li>-->
      </ul>
    </div>
  </nav>
  <button *ngIf="!authService.isAuthenticated()" (click)="setSlideOut()" [routerLink]="['/signup']"
          class="nav-link styleLinkA glow-on signUp" type="button">
    Registrarse
    <i class="fas fa-user-plus"></i>
    <!--    <img src="https://dl.dropboxusercontent.com/s/afe79kyds0phn6n/signupicon.png?dl=0">-->
    <div class="glow-on2"></div>
  </button>
  <div *ngIf="authService.isAuthenticated()" class="nav-link" id="divimguser">
    <a>
      <img class="styleA imgUser" (click)="test.toggle()"
           src="https://dl.dropboxusercontent.com/s/wc73isc87220p2c/nouser.png?dl=0">
    </a>
    <div mdbCollapse #test="bs-collapse">
      <mdb-card>
        <div class="gradient-custom" style="height: 100px"></div>
        <img class="imgUserCard" src="https://dl.dropboxusercontent.com/s/wc73isc87220p2c/nouser.png?dl=0">
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title style="text-align: center">
            <h2 style="margin-top: -60px">{{authService.user.username}}</h2>
          </mdb-card-title>
          <hr>
          <!--Text-->
          <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </mdb-card-text>

          <button (click)="logout()" mdbBtn color="primary" mdbWavesEffect>Cerrar Sesión</button>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
  <!--  <button *ngIf="authService.isAuthenticated()" (click)="logout()" [routerLink]="['/login']" class="nav-link styleLinkA glow-on signUp"  type="button">-->
  <!--  <div *ngIf="authService.isAuthenticated()" (click)="test.toggle()" class="nav-link styleLinkA glow-on signUp"  type="button">-->
  <!--  -->
  <!--  <div *ngIf="authService.isAuthenticated()" mdbBtn color="primary" (click)="test.toggle()" mdbWavesEffect-->
  <!--            class="nav-link styleLinkA glow-on signUp waves-light">-->

  <!--      <div class="" mdbCollapse #test="bs-collapse">-->
  <!--        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim-->
  <!--          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>-->
  <!--      </div>-->
  <!--    <i class="fas fa-user-plus"></i>-->
  <!--&lt;!&ndash;    <img src="https://dl.dropboxusercontent.com/s/afe79kyds0phn6n/signupicon.png?dl=0">&ndash;&gt;-->
  <!--    <div class="glow-on2"></div>-->
  <!--  </div>-->

  <button *ngIf="!authService.isAuthenticated()" (click)="setSlideOut()" [routerLink]="['/login']"
          class="nav-link styleLinkA glow-on signIn" type="button">
    Iniciar Sesión
    <i class="fas fa-sign-in-alt"></i>
    <!--    <img src="https://dl.dropboxusercontent.com/s/rgvbwab1wrmqlrt/signinicon.png?dl=0">-->
    <div class="glow-on2"></div>
  </button>
  <div id="lastDivGradient" class="gradient-border gradientPerso" style="margin-bottom: 0em"></div>

</mdb-navbar>
