$limitSizeScreen: 600px;
$limitMidSmlSizeScreen: 800px;
$limitMidSizeScreen: 1000px;

.menu_bar {
  display: none;
  margin: 0;
  padding: 0;
}

i{
  display: none;
}

button img{
  display: none;
}

.navImg {
  margin-right: 1em;
  margin-left: -1em;
  //left: -0.5em;
  width: 4.5rem;
  height: auto;

}

.styleLinkA{

  font-size: 1em;
  text-decoration: none;
  background-image: linear-gradient(#ffee10, currentColor);
  margin-right: 5px;
  margin-top: 15px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  /*color: #ffee10;*/
  /*box-shadow: 0 0 20px #ffee10;*/
  /*text-shadow: 0 0 20px #ffee10;*/
}

.styleLink {
  height: 100%;
}

ul li {
  float: right;
  text-align: center;
}

li {
  height: 100%;
}

span {
  text-decoration-color: white;
}

.navStyle {
  background: linear-gradient(to right, #2f2f2e, transparent);
  font-size: 150%;
}

.navbar.navbar-default {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.divPerso {
  position: absolute;
  right: 5em;
}


.inputPerso {
  width: 400%;
  height: 100%;
  margin-top: 40%;
}

/* Switch info */
.switch-info label input[type=checkbox]:checked + .lever {
  background-color: #5f37ea;
}

.switch-info label input[type=checkbox]:checked + .lever:after {
  background-color: #5500cc;
}

/*body {*/
/*  background: #000;*/
/*  font-family: sans-serif;*/
/*  text-align: center;*/
/*}*/
.ques {
  color: darkslateblue;
}

.switch {
  position: relative;
  /*display: inline-block;*/
  /*right: 5em;*/
  width: 100%;
  background-color: #9f105c;
  height: 100%;
  margin-bottom: 0;
  justify-content: end;
  /*top:20%;*/
  /*float:right;*/
  /*bottom: 10%;*/
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /*right: 10%;*/
  background: linear-gradient(90deg, #5d2bb1, #3cb8e6);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  z-index: 2;
  content: url("src/assets/images/admin.png");
  text-decoration-color: white;
  height: 100%;
  width: 40%;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 255);
  -webkit-transition: .4s;
  transition: all 0.4s ease-in-out;
}

.slider:after {
  position: absolute;

  z-index: 1;
  content: url("src/assets/images/admin.png");
  font-size: 120%;
  text-align: left !important;
  line-height: 10%;

  width: 10%;
  color: #fff;
  top: 0;
  height: 10%;
  left: -40%;
  border-radius: 100px;
  /*background:  linear-gradient(90deg, #3cb8e6, #5d2bb1);*/
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
}


input:checked + .slider:after {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  padding-left: 50%;
}

input:checked + .slider:before {
  background-color: #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(300%);
  -ms-transform: translateX(300%);
  transform: translateX(150%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 100px;
}

.slider.round:before {
  border-radius: 60%;
}


.mdbBtn {
  position: absolute;
  right: 1.8%;
  top: 0;
  height: 100%;
}


.container-fluid {
  justify-content: flex-end;
  height: 100%;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


.styleUl {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.styleLi {
  list-style: none;
  margin: 0 15px;
}

.styleA {
  position: relative;
  display: block;
  width: 10%;
  height: auto;
  text-align: center;
  line-height: 63px;
  border-radius: 50%;
  font-size: 30px;
  transition: .5s;
}

.styleA::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  //width: 100%;
  //height: 100%;
  //border-radius: 50%;
  background: #ffee10;
  transition: .3s;
  transform: scale(.9);
  z-index: -1;
}

.styleA:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.styleA:hover {
  color: #ffee10;
  box-shadow: 0 0 20px #ffee10;
  text-shadow: 0 0 20px #ffee10;
}

.flex {
  display: flex;
}


a:hover, a:focus {
  background-size: 100% 2px;
}


/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------*/
.onoffswitch {
  position: relative;
  width: 50%;
  height: 100%;
  right: -2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  right: 0;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 36px;
  padding: 0;
  line-height: 36px;
  border: 2px solid #949494;
  border-radius: 36px;
  background: rgb(255, 136, 0);
  background: linear-gradient(90deg, rgba(255, 136, 0, 0.75) 0%, rgba(255, 238, 16, 0.75) 100%);
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 32%;
  height: 60%;
  background: #ffffff;
  position: absolute;
  top: 6%;
  bottom: 0;
  right: 50%;
  border: 2px solid #949494;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background: rgb(255, 136, 0);
  background: linear-gradient(90deg, rgba(255, 136, 0, 0.75) 0%, rgba(255, 238, 16, 0.75) 100%);
}

.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #949494;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 18%;
}

.padre {
  display: flex;
  align-items: center;
}

// gradient: https://www.gradientmagic.com/collection/rainbowstandard
@import url("https://fonts.googleapis.com/css?family=Lato:300");


.gradient-border {
  --border-width: 3px;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120%;
  height: 0px;
  bottom: 0;
  left: -10%;

  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: 3px;
    background: linear-gradient(
        60deg,
        hsl(53, 100%, 50%),
        hsl(18, 97%, 54%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: 20px;
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}


.container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 7rem;
  height: 2rem;
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 5px;
}

.container .box:hover {
  transform: translateX(-5%);
}

.container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0000);
  filter: blur(15px);
}

.container .box span {
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  border-radius: 5px;
}

.container .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
  border-radius: 5px 0 0 5px;
}

.container .box .content {
  position: relative;
  z-index: 10;
  padding: 10% 10%;
}

.container .box .content p {
  font-size: 0.5em;
  margin: auto;
  color: white;
}

.animation {
  top: 0;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-direction: alternate;
}

.slideInHeader {
  position: absolute;
  animation-name: slideInRHeader;
}

.slideOutHeader {
  position: absolute;
  animation-name: slideOutRHeader;
}

.slideOffHeader {
  position: absolute;
  visibility: hidden;
  left: -100%;
}

@keyframes slideInRHeader {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}

@-webkit-keyframes slideInRHeader {
  from {
    transform: translate(-100%, 0);
  }
  to {
    transform: translate(0%, 0);
  }
}

@keyframes slideOutRHeader {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

@-webkit-keyframes slideOutRHeader {
  from {
    transform: translate(0%, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}





.glow-on {
  width: 110px;
  height: 36px;
  border: none;
  outline: none;
  color: #d7d7d7;
  padding-right: 4px;
  padding-left: 4px;
  background: #111;
  cursor: pointer;
  position: absolute;
  font-size: 15px;
  z-index: 1;
  filter: blur(none);
  border-radius: 10px;
}
.signUp{
  top: 7px;
  right: 20px;
}
#divimguser{
  right: 0;
  position: absolute;
  margin-top: -64px;
  height: auto;
  width: 300px;
  padding: 10px 5px;
}
.imgUserCard{
  //top: 0;
  //left: 0;
  //z-index: 1;
  border-style: solid;
  //border-radius: 50%;
  border-width: 6px;
  border-color: white;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%
}
.circular--landscapeBig {
  display: inline-block;
  position: relative;
  width: 100px;
  margin-top: -18%;
  margin-left: auto;
  margin-right: auto;

  height: 100px;
  overflow: hidden;
  border-radius: 50%
}

.circular--landscape img, .circular--landscapeBig img {
  max-width: 100%;
  min-height: 100%;
  margin: auto;

    display:block;
    //margin:auto;

}

.signIn{
  top: 7px;
  right: 170px;
}

.gradient-custom {
  background: #f6d365;
  background: -webkit-linear-gradient(to right, rgba(246, 211, 101, 0.5), rgba(253, 160, 133, 0.5));
  background: linear-gradient(to right, rgba(246, 211, 101, 0.5), rgba(253, 160, 133, 0.5));

}

.glow-on2 {
  content: '';
  transform: translateX(-4.5%) translateY(-77%);
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #fffb00,#ff7300,#ff0000);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  //width: calc(100% + 4px);
  //height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  //opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}



//.glow-on:active:after {
//  background: transparent;
//}
//
//.glow-on:hover:before {
//  opacity: 1;
//}
//
.glow-on:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111111;
  filter: opacity(0.9);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}






//Pantallas grandes
@media only screen and (min-width: $limitSizeScreen) {
  mdb-navbar {
    min-height: 5rem;
    max-height: 5rem;
  }

  #navSignIn, #navSignUp{
    display: none;
  }

  nav {
    display: block;
    //position: fixed;
    //margin-left: -15%;
    height: 100%;

    //background: linear-gradient(to right, #000000, #fff);
  }
  .centerNav{
    margin: 0;
    //margin-left: -15%;
    transform: translateY(10%);
  }
}
//Pantallas medianas grandes
@media only screen and (max-width: $limitMidSizeScreen) and (min-width: $limitMidSmlSizeScreen) {
 #signUp, #signIn{
   font-size: 16px;
   padding: 0;
   top: 6px;
 }

  .glow-on{
    height: 36px;
    width: 110px;
  }

  .glow-on2{
    transform: translateX(0%) translateY(-78%);
  }
  #signUp {
    right: 15px;
  }
  #signIn{
    right: 140px;
  }

  mdb-navbar nav div{
    margin: 0;
  }

  nav div ul li a{
    font-size: 20px;
    padding-left: 2px;
    padding-right: 0;
  }
}

//Pantallas medianas pequeñas
@media only screen and (max-width: $limitMidSmlSizeScreen) and (min-width: $limitSizeScreen) {
 #signUp, #signIn{
   font-size: 0;
   padding: 0;
   top: 6px;
 }

  .glow-on{
    height: 36px;
    width: 50px;
  }
  button img, button i{
    display: inline-block;
    width: auto;
    margin: auto;
    margin-top: 5px;
    font-size: 25px;
    height: 90%;
  }

  .glow-on2{
    transform: translateX(0%) translateY(-105%);
  }
  #signUp {
    right: 15px;
  }
  #signIn{
    right: 80px;
  }

  mdb-navbar nav div{
    margin: 0;
  }

  nav div ul li a{
    font-size: 16px;
    padding-left: 2px;
    padding-right: 0;
  }
}

//Pantallas pequeñas
@media only screen and (max-width: $limitSizeScreen) {
  #navSignIn, #navSignUp{
    font-size: 15px;
  }
  .navStyle{
    background: transparent;
  }

  button{
    display: none;
  }

  nav {
    position: fixed;
    height: 100%;
    left: 0;
    margin-top: 16%;
    width: 60%;

    //background: linear-gradient(to right, #000000, #fff);
  }

  nav div ul li a {
    margin-left: 10%;
    //text-align: center;
    position: relative;
    -ms-transform: translateY(-25%);
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  nav div ul li:first-child {
    display: none;
  }
  nav div ul li {

    display: block;
    float: left;
    padding: 5%;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: rgb(47, 47, 46);
    background: -moz-linear-gradient(90deg, rgba(47, 47, 46, 1) 0%, rgba(47, 47, 46, 0.6472963483146068) 100%);
    background: -webkit-linear-gradient(90deg, rgba(47, 47, 46, 1) 0%, rgba(47, 47, 46, 0.6472963483146068) 100%);
    background: linear-gradient(90deg, rgba(47, 47, 46, 1) 0%, rgba(47, 47, 46, 0.6472963483146068) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2f2e", endColorstr="#2f2f2e", GradientType=1);
  }
  .menu_bar {
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: #ccc;
  }

  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    background: rgb(47, 47, 46);
    background: -moz-linear-gradient(90deg, rgba(47, 47, 46, 1) 0%, rgba(47, 47, 46, 0.6472963483146068) 100%);
    background: -webkit-linear-gradient(90deg, rgba(47, 47, 46, 1) 0%, rgba(47, 47, 46, 0.6472963483146068) 100%);
    background: linear-gradient(90deg, rgba(47, 47, 46, 1) 0%, rgba(47, 47, 46, 0.6472963483146068) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f2f2e", endColorstr="#2f2f2e", GradientType=1);
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    //box-sizing: border-box;
    //-webkit-box-sizing: border-box;
    //-moz-box-sizing: border-box;
  }
  .menu_bar i {
    float: right;
  }
  #lastDivGradient{
    //display: none;
    //transform: translateY(-8px);
    top: 62px;
  }
  #firstDivGradient{
    top: 62px;
  }
  .centerNav{
    margin-top: 62px;
    //transform: translateY(20%);
  }
  .styleA {
    position: relative;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg, rgba(37,37,37,0.0576334269662921) 0%, rgba(255,204,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(37,37,37,0.0576334269662921) 0%, rgba(255,204,0,1) 100%);
    background: linear-gradient(0deg, rgba(37,37,37,0.0576334269662921) 0%, rgba(255,204,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252525",endColorstr="#ffcc00",GradientType=1);
    width: 70%; height: 40%;  font-size: 16px;
    max-width: 100%;
    border-radius: 50px;
    border-color: transparent;
    white-space: normal;
    box-shadow: 0 0 5px #666;
    border-width: 0;
    color: #666;
    transition: .5s;
    margin-left: 25%;
    transform: translateX(-15%);
  }

  .styleA::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #ffee10;
    transition: .3s;
    transform: scale(.9);
    z-index: -1;
  }

  .styleA:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;

    font-style: italic;
  }

  .styleA:hover {
    box-shadow: 0 0 20px #ffee10;
    text-shadow: 0 0 20px #ffee10;
    color: #666;
  }

}



