<div class="initialDiv"></div>
<app-loading *ngIf="loading"></app-loading>

<div id="mainDiv" class="card-deck m-4" *ngFor="let global of listaGlobal" style="align-items: center">

  <mdb-card *ngFor="let marca of global" class="cardPerso">
    <div [routerLink]="['/modelos/20/marca',marca.idMarca,'page',0]" class="divPhoto view rgba-white-slight waves-light" mdbWavesEffect>
      <img src="{{getUrlMarca(marca.idMarca)}}" alt="Sin Imagen" class="img-fluid rounded">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <div class="bg-perso">
      <mdb-card-body>
        <mdb-card-title>
          <div style=" max-height: 100%">
          <h2 class="truncar">{{marca.marcaCoche}}</h2>
          </div>
        </mdb-card-title>
<!--        <button mdbBtn [routerLink]="['/modelos/20/marca',marca.idMarca,'page',0]" type="button" color="warning"-->
<!--                class="styleA truncar" rounded="true" mdbWavesEffect>{{marca.marcaCoche}}</button>-->
        <input   [routerLink]="['/modelos/20/marca',marca.idMarca,'page',0]" type="button"
                class="styleA truncar"  value="{{marca.marcaCoche}}"  mdbWavesEffect>
      </mdb-card-body>
    </div>
  </mdb-card>
</div>
