<div style="margin-top: 7%"></div>
<app-loading *ngIf="loading"></app-loading>
<div id="mainDiv" class="card-deck m-4" *ngFor="let global of listaGlobal" style="align-items: center">


  <mdb-card *ngFor="let marca of global" class="cardPerso">
    <div class="divPhoto view rgba-white-slight waves-light" mdbWavesEffect>
      <img [routerLink]="['/modelos/20/marca',marca.idMarca,'page',0]" src="{{urlEndPointImgMarcaLogo}}{{marca.idMarca}}" alt="Sin Imagen"
           class="img-fluid rounded">
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <div class="bg-perso">
      <mdb-card-body>
        <mdb-card-title>
          <div style=" max-height: 100%">
          <h2 class="truncar">{{marca.marcaCoche}}</h2>
          </div>
        </mdb-card-title>
        <button mdbBtn [routerLink]="['/modelos/20/marca',marca.idMarca,'page',0]" type="button" color="warning"
                class="styleA " rounded="true" mdbWavesEffect>{{marca.marcaCoche}}</button>
      </mdb-card-body>
    </div>
  </mdb-card>
</div>
