<div *ngIf="loading" style="margin-top: 150px">
<app-loading></app-loading>
</div>
<app-userdetail [user]="selectedUser" *ngIf="selectedUser"></app-userdetail>

<div *ngIf="listaUsuarios.length>0" class="bigDiv">
  <table  class="table">
    <!-- Table head -->
    <thead class="white-text" style="background: #2f2f2e">
    <tr>
      <th *ngFor="let head of listaTabla">
        <mdb-icon fas icon="{{head.icono}}" class="mr-2 yellow-text" aria-hidden="true"></mdb-icon>
        {{head.campo}}
      </th>
    </thead>
    <!-- Table head -->

    <!-- Table body -->
    <tbody *ngFor="let usuario of listaUsuarios">
    <tr>
      <!--      <mdb-icon far icon="{{listaTabla[0].icono}}" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>-->
      <td>
        <mdb-icon fas icon="{{listaTabla[0].icono}}" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>
        {{usuario.id}}
      </td>
      <td>
        <img *ngIf="images && images[usuario.id]" class="img-fluid rounded" style="max-width: 100px" src="{{images[usuario.id]}}" alt="Sin Imagen">
        <img *ngIf="!(images && images[usuario.id])" class="img-fluid rounded" style="max-width: 100px" src="{{nouser}}" alt="Sin Imagen">
      </td>
      <td>
        <mdb-icon fas icon="{{listaTabla[2].icono}}" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>
        {{usuario.username}}
      </td>
      <td>
        <mdb-icon fas icon="{{listaTabla[3].icono}}" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>
        {{usuario.email}}
      </td>
      <td>
        <mdb-icon fas icon="{{listaTabla[4].icono}}" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>
        <span *ngIf="usuario.enabled">Si</span>
        <span *ngIf="!usuario.enabled">No</span>
      </td>
      <td>
        <mdb-icon fas icon="{{listaTabla[5].icono}}" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>
        <span *ngIf="usuario.verified">Si</span>
        <span *ngIf="!usuario.verified">No</span>
      </td>
      <td class="mr-lg-4">
        <mdb-icon fas icon="{{listaTabla[6].icono}}" class="mr-2 grey-text" aria-hidden="true"></mdb-icon>
        {{this.usuariosService.registrationDate(usuario)}}
      </td>
      <td>
        <ul *ngFor="let rol of usuariosService.getRoles(usuario.roles)" style="vertical-align: middle">
          <li style="vertical-align: middle">
            {{rol}}
          </li>
        </ul>
      </td>
      <td>
        <button *ngIf="authService.hasRole('ROLE_ADMIN')" mdbBtn type="button" (click)="openModal(usuario)" class="dusty-grass-gradient" rounded="true"  size="sm" mdbWavesEffect>Editar</button>
        <button *ngIf="authService.hasRole('ROLE_ADMIN') && usuario.enabled" mdbBtn type="button" (click)="habilitar(usuario,false)" class="peach-gradient" style="color: #2f2f2e" rounded="true" size="sm" mdbWavesEffect>Deshabilitar</button>
        <button *ngIf="authService.hasRole('ROLE_ADMIN') && !usuario.enabled" mdbBtn type="button" (click)="habilitar(usuario,true)" class="tempting-azure-gradient" style="color: #2f2f2e" rounded="true" size="sm" mdbWavesEffect>Habilitar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

