.table{
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 0;
}

.bigDiv{
  margin-left:auto;
  margin-right:auto;
  background: white;
  margin-top: 200px;
  width: 90%;
  border-style: solid;
  border-color: #ffee10;
  border-radius: 15px;
}
.userDiv{
  border-style: solid;
  border-color: #ffee10;
  border-radius: 15px;
  padding: 0;
}

.button-wrapper {
  position: relative;
  width: 175px;
  text-align: center;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #3e3e3e;
  text-transform:uppercase;
  font-size:12px;
}

.upload {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

hr{
  border: 1.1px solid rgba(0, 0, 0, 0.3);
  margin: 3px 0 0 0;
}

.urlImageUser{
  width: 50%;
  max-width: 50%;
  height: auto;
  margin: 5% 5%;
  border-radius: 10px;
  max-height: 400px;
  box-shadow: 0 0 25px #000000;
}
.titlePerso {
  background: #2f2f2e;
  color: white;
}

td{
  background: white;
}
