<!--<img class="fixed-top h-100 w-100 imgLoginWallpaper" src="https://dl.dropboxusercontent.com/s/6p5it192scj6vub/img.jpg?dl=0">-->
<img class="fixed-top h-100 w-100 imgLoginWallpaper"
     src="https://dl.dropboxusercontent.com/s/6o2d6lfreqyiper/loginWallpaper.jpg?dl=0">
<form *ngIf="usuario">
  <div class="login-box">
    <h1>Verificación</h1>
    <div class="textStyle" >
      <span style="justify-content: center; line-height: 20pt;">Hola {{usuario.username}}, se te ha enviado un email a la cuenta {{usuario.email}}. Introduce el código recibido por favor.</span>
    </div>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input [(ngModel)]="codigo" type="text" placeholder="Código" value="" name="codigo">
    </div>
    <small class="form-text text-muted mb-4">
      <p>El tiempo límite del código son 4 minutos</p>
    </small>
    <input class="btn" type="button" (click)="verificarCodigo()" value="Entrar">
    <div class="d-flex justify-content-around">
      <!--    <div>-->
      <!--      &lt;!&ndash; Remember me &ndash;&gt;-->
      <!--      <mdb-checkbox [default]="true">Remember me</mdb-checkbox>-->
      <!--    </div>-->
        <a (click)="reenviarCodigo()" style="color:#ffee10">No he recibido ningun código</a>
    </div>
    <p style="text-align: center; margin-top: 10px">¿Algún dato no es correcto?
      <a style="color: #ffee10" (click)="volverARegistro()">Volver al Registro</a>
    </p>
    <div class="d-flex justify-content-around" style=" margin-top: 10px">
      <!--    <div>-->
      <!--      &lt;!&ndash; Remember me &ndash;&gt;-->
      <!--      <mdb-checkbox [default]="true">Remember me</mdb-checkbox>-->
      <!--    </div>-->
      <a [routerLink]="['/modelos']" style="color:#ffee10">Verificar usuario más tarde</a>
    </div>
  </div>
</form>
