$limitInfSizeScreen: 700px;
$limitMidSizeScreen: 1200px;

.propietario{
  margin:10px auto;
  display:block;
  max-width: 400px;
  width: 40%;
  height: auto;

}

h1{
  text-align: justify;
}
.imgfondo{
  display: block;
  max-height: 80%;
  max-width: 100%;
  z-index: -1;
  transform: translatey(-15%);
}
.author {
  animation: fadeIn;
  animation-duration: 2s;
}
.imgKnowme{
  border-radius: 10px;
  display:block;
  margin:auto;
}

.font {
  background: url("src/assets/images/scanlines.png");
  font-family: "Oswald", sans-serif;
  font-style: italic;
  border-radius: 50px;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 35%;
}
.hijo{
  margin:0px auto;
  width: auto;
  vertical-align: middle;

}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 50%;
  top: 40%;
  left: 50%;
  margin-top: 22%
}
#app {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.bodyPerso{
  background: transparent;
  padding: 0px 7rem;
  height: 100%;
}

#wrapper {
  text-align: center;
}

.sub {
  color: rgb(220, 204, 100);
  letter-spacing: 1em;
  font-size: calc(0.5em + 1vw);
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glitch {
  position: relative;
  color: white;
  font-size: calc(1em + 2.5vw);
  font-family: "Oswald", sans-serif;

  // Creates a copy before our text.
  &::before{
    // Duplicates our text with the mixin.
    @include glitchCopy;
    // Scoots text slightly to the left for the color offset.
    left: 2px;
    // Creates the color 'shadow' that happens on the glitch.
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
  }

  // Creates a copy after our text. Note comments from ::before.
  &::after {
    @include glitchCopy;
    left: -2px;
    text-shadow: -2px 0 #ffee10, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
  }
}

/* Creates an animation with 20 steaps. For each step, it calculates
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
      transform: skew((random(100) / 100) + deg);
    }
  }
}

//Pantallas medianas
@media only screen and (max-width: $limitMidSizeScreen) and (min-width: $limitInfSizeScreen) {
  .container {
    width: 65%;
  }
}

//Pantallas pequeñas
@media only screen and (max-width: $limitInfSizeScreen) {
  .imgfondo{
    margin-top: 90px;
  }
  .imgfondo {
    width: 100%;
    height: 300px;
  }

  .bodyPerso{
    background: transparent;
    padding: 0 2rem;
    height: 100%;
  }

  .container {
    width: 85%;
    height: 25%;
    margin-top: 38%;
  }
  .propietario{
    margin:36px auto;
  }

  .glitch{
    //font-size: 10px;
  }
}

