<mdb-card>
  <!--Card image-->
  <div style="position:relative">
    <mdb-card-img class="imgfondo" src="{{urlEndPointUploadImg}}/0" alt="imagen"></mdb-card-img>
    <div style="position:absolute; top:10%; width: 100%">
      <img class="propietario" src="{{urlEndPointImgPropietario}}">
      <!--        <div style="margin-top: 25%" class="container font author">-->
      <!--          <div class="glitch author" data-text="Kevin Gómez Aguado">Kevin Gómez Aguado</div>-->
      <!--          <div class="glow">Kevin Gómez Aguado</div>-->
      <!--          <p class="subtitle">Engineer﹒Gamer﹒Shenaniganizer</p>-->
      <!--        </div>-->
      <!--        <div class="scanlines"></div>-->
      <div class="container font author" style="margin-top: 22%">
        <div style="width: 100%;height: 50%" class="hijo">
          <div id="app">
            <div id="wrapper">
              <!-- Make sure data-text equals the text you put inside the tags. -->
              <h1 class="glitch" data-text="Kevin Gómez Aguado">Kevin Gómez Aguado</h1>
              <span class="sub">DESARROLLADOR</span>
            </div>
          </div>
<!--          <div class="glitch" data-text="Kevin Gómez Aguado">Kevin Gómez Aguado</div>-->
<!--          <div class="glow">Kevin Gómez Aguado</div>-->
        </div>
      </div>
<!--      <div class="scanlines"></div>-->
    </div>
  </div>
  <!--  <div style="position:relative; max-width: 100%">-->
  <!--    <img src="{{urlEndPointUploadImg}}/0" />-->
  <!--    <div style="position:absolute; top:30%; left:10%;">-->

  <!--      <img class="propietario" src="{{urlEndPointImgPropietario}}">-->
  <!--    </div>-->
  <!--  </div>-->
  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <h4>Card Title</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
      content.
    </mdb-card-text>

    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
  </mdb-card-body>
</mdb-card>
<h1 style="background: #0f6674; margin-top:20%">{{header}}</h1>
