<mdb-card>
  <!--Card image-->
  <div style="position:relative">
    <mdb-card-img class="imgfondo" src="{{urlEndPointUploadImg}}/0" alt="imagen"></mdb-card-img>
    <div style="position:absolute; top:10%; width: 100%">
      <img class="propietario" src="{{urlEndPointImgPropietario}}">

      <div class="container font author" style="margin-top: 22%">
        <div style="width: 100%;height: 50%" class="hijo">
          <div id="app">
            <div id="wrapper">

              <h1 class="glitch" data-text="Kevin Gómez Aguado">Kevin Gómez Aguado</h1>
              <span class="sub">DESARROLLADOR</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mdb-card-body style="background: transparent">
    <!--Title-->
    <mdb-card-title>
      <h4>Card Title</h4>
    </mdb-card-title>

    <!--Text-->
    <mdb-card-text>
    </mdb-card-text>
    <h1>{{header}}</h1>
    <h1>{{intro}}</h1>
    <img src="assets/images/wall1.jpg">
    <h1>{{intro2}}</h1>
    <img src="assets/images/wall2.jpg">
    <img src="assets/images/wall3.jpg">
    <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
  </mdb-card-body>
</mdb-card>
