<div class="scrolling-navbar scrollbar-lady-lips">
  <div class="force-overflow">
    <div id="carouselExampleIndicators" class="carousel slide img-fluid" style="min-width: 100%; max-height: 75%"
         data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
        <mdb-carousel-item>
          <video class="video-fluid" autoplay loop muted>
            <source src="assets/clips/2.mp4" type="video/mp4"/>
          </video>
        </mdb-carousel-item>
        <mdb-carousel-item>
          <video class="video-fluid" autoplay loop muted>
            <source src="assets/clips/pru.mp4" type="video/mp4"/>
          </video>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>

  </div>

  <div style="display: block; background-color: white">
    <canvas mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>
