<img class="fixed-top h-100 w-100 imgLoginWallpaper"
     src="https://dl.dropboxusercontent.com/s/6o2d6lfreqyiper/loginWallpaper.jpg?dl=0">
<form id="formulario">
  <div class="login-box">
    <h1>Resgistrarse</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input [(ngModel)]="usuario.username" type="text" placeholder="Nombre de Usuario" value="" name="username">
    </div>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input [(ngModel)]="usuario.password" (ngModelChange)="fuerzaPass()" (change)="setPass($event)"
             type="password" placeholder="Contraseña" value="" name="password">
    </div>
    <small class="form-text text-muted mb-4">
      <p [ngClass]="colorStrong">{{passStrong}}</p>
    </small>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" [(ngModel)]="confirmPass" placeholder="Confirmar contraseña" value="" name="confirmPassword">
    </div>
    <small *ngIf="!samePassword() && confirmPass.length>3" class="form-text text-muted mb-4">
      <p class="redPass">Las contraseñas no coinciden</p>
    </small>
    <div class="textbox">
      <i class="fas fa-envelope"></i>
      <input [(ngModel)]="usuario.email" type="email" placeholder="Email" value="" name="email">
    </div>

    <input [disabled]="!(samePassword() && usuario.username.length>3 && usuario.email.length>3)" class="btn" type="button" (click)="registrar()" value="Resistrarse" name="signup">

    <p style="text-align: center">¿Ya tienes usuario?
      <a [routerLink]="['/login']">Inicia Sesión</a>
    </p>
  </div>
</form>
<app-verify id="verify" style="display: none" [usuario]="usuario" (volver)="volverARegistro($event)"></app-verify>
