<img class="fixed-top h-100 w-100 imgLoginWallpaper"
     src="https://dl.dropboxusercontent.com/s/6o2d6lfreqyiper/loginWallpaper.jpg?dl=0">
<form id="formulario">
  <div class="login-box">
    <h1>Resgistrarse</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input [(ngModel)]="usuario.username" type="text" placeholder="Nombre de Usuario" value="" name="username"
             required minlength="4"  #name="ngModel">
      <!--      name.dirty comprueba si es invalido mientras escribimos y touched cuando nos salimos del foco-->
    </div>
    <div *ngIf="name.invalid && name.touched" class="validacion">
      <div *ngIf="name.errors.required">
        <small class="form-text text-muted mb-4">
          <p class="redPass">El nombre de usuario es obligatorio.</p>
        </small>
      </div>
      <div *ngIf="name.errors.minlength">
        <small class="form-text text-muted mb-4">
          <p class="redPass">Mínimo 4 caracteres.</p>
        </small>
      </div>
    </div>
    <div *ngIf="usuario.username.includes('.')" class="validacion">
      <small class="form-text text-muted mb-4">
        <p class="redPass">En nombre de usuario no puede contener un punto.</p>
      </small>
    </div>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input [(ngModel)]="usuario.password" (ngModelChange)="fuerzaPass()" (change)="setPass($event)"
             type="password" placeholder="Contraseña" value="" name="password" required minlength="6" #pass="ngModel">
    </div>
    <div *ngIf="pass.invalid && pass.touched">
      <div *ngIf="pass.errors.required">
        <small class="form-text text-muted mb-4">
          <p class="redPass">La contraseña es obligatoria.</p>
        </small>
      </div>
      <div *ngIf="pass.errors.minlength">
        <small class="form-text text-muted mb-4">
          <p class="redPass">Mínimo 6 caracteres.</p>
        </small>
      </div>
    </div>

    <small class="form-text text-muted mb-4">
      <p [ngClass]="colorStrong">{{passStrong}}</p>
    </small>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" [(ngModel)]="confirmPass" placeholder="Confirmar contraseña" value=""
             name="confirmPassword" required minlength="6" #passconfirm="ngModel">
    </div>
    <div *ngIf="passconfirm.invalid && (passconfirm.dirty || passconfirm.touched)">
      <div *ngIf="passconfirm.errors.required">
        <small class="form-text text-muted mb-4">
          <p class="redPass">La confirmacion de la contraseña es obligatoria.</p>
        </small>
      </div>
    </div>

    <small *ngIf="!samePassword() && confirmPass.length>3" class="form-text text-muted mb-4">
      <p class="redPass">Las contraseñas no coinciden</p>
    </small>
    <div class="textbox">
      <i class="fas fa-envelope"></i>
      <input [(ngModel)]="usuario.email" type="email" placeholder="Email" value="" name="email" #email="ngModel"
             required email #email=ngModel>  <!-- required email -->
    </div>
    <div *ngIf="email.invalid && email.touched">
      <div *ngIf="email.errors.required">
        <small class="form-text text-muted mb-4">
          <p class="redPass">El email es obligatorio.</p>
        </small>
      </div>
    </div>
    <div>
      <div *ngIf="usuariosService.errorsEmail(usuario)">
        <small class="form-text text-muted mb-4">
          <p class="redPass">Se debe introducir un email valido.</p>
        </small>
      </div>
    </div>


    <input [disabled]="errors()" class="btn" type="button" (click)="registrar()" value="Resistrarse"
           name="signup">

    <p style="text-align: center">¿Ya tienes usuario?
      <a [routerLink]="['/login']">Inicia Sesión</a>
    </p>
  </div>
</form>
<app-verify id="verify" style="display: none" [usuario]="usuario" [tipo]="newUser"
            (volver)="volverARegistro($event)"></app-verify>
