/*!*body {*!*/
/*!*  background-color: rgba(255, 0, 0, 0.5);*!*/
/*!*  font-family: Consolas;*!*/
/*!*}*!*/

/*.content {*/
/*  height: 200vh;*/
/*  background: rgba(0, 0, 0, 0.5);*/
/*  padding: 8px;*/
/*  color: transparent;*/
/*}*/

/*!* Gradient Scrollbar *!*/
/*body::-webkit-scrollbar {*/
/*  width: 10px;*/
/*  border-radius: 2px;*/
/*  background: transparent;*/
/*}*/

/*body::-webkit-scrollbar-track {*/
/*  background: transparent;*/

/*}*/

/*body::-webkit-scrollbar-thumb {*/
   /* opacity: 0; should do the thing either */
  /*background:  linear-gradient(0deg, #3cb8e6, #5d2bb1);*/
  /*border-radius: 3em/3em;*/
  /*box-shadow: transparent;*/
/*}*/


body::-webkit-scrollbar {
  width: 10px;
  border-radius: 2px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: rgb(255,136,0);
  background: linear-gradient(0deg, rgba(255,136,0,0.75) 0%, rgba(255,238,16,0.75) 100%);
  border-radius: 3em/3em;
  box-shadow: transparent;
  -webkit-transition-duration: 0.4s;
  /* Safari */

  transition-duration: 0.4s;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body {
  background-color: #414141;

}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
