<!--<img class="fixed-top h-100 w-100 imgLoginWallpaper" src="https://dl.dropboxusercontent.com/s/6p5it192scj6vub/img.jpg?dl=0">-->
<img class="fixed-top h-100 w-100 imgLoginWallpaper"
     src="https://dl.dropboxusercontent.com/s/6o2d6lfreqyiper/loginWallpaper.jpg?dl=0">
<form>
  <div class="login-box">
    <h1 style="font-size: 30px">Cambio de Contraseña</h1>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input [(ngModel)]="usernameEmail" type="text" placeholder="Nombre de usuario o email" value="" name="usernameEmail">
    </div>
    <input [disabled]="!(usernameEmail.length>0)" class="btn" type="submit" (click)="getNewPassword()" value="Nueva contraseña" name="newpass">

    <p style="text-align: center; margin-top: 10px">Volver a
      <a style="color: #ffee10" (click)="volverALogin()">Inicio de Sesión</a>
    </p>
  </div>
</form>
<!--<app-verify id="verify" style="display: none" [usuario]="usuario" [tipo]="newPass" (volver)="volverARegistro($event)"></app-verify>-->
