<div *ngIf="modalService.modal"class="open-modal animationPerso fadeIn">
  <div class="modal" tabindex="-1" role="dialog" style="display:block;">
    <div class="modal-dialog modal-lg bg-dark" role="document" style="top: 12%; border-radius: 20px;">
      <div class="modal-content">
        <div class="modal-header bg-dark text-light">
          <h2 class="modal-title">{{marca.marcaCoche}}</h2>
          <button mdbBtn (click)="closeModal()" type="button" color="danger" outline="true" mdbWavesEffect style="padding: 5px 10px; border-radius: 10px;">
            &times;
          </button>
        </div>

        <div class="modal-body">
          <ul class="list-group">
            <li>
              <div style="display: inline-block">
                <mat-form-field class="example-form-field my-1" style="display: inline-block; justify-content: center;">
                  <mat-label style="color: orange; font-size: 18px">Nombre de la marca</mat-label>
                  <input matInput [disabled]="btn1" type="text" [(ngModel)]="marca.marcaCoche" id="search">
                </mat-form-field>
                <button mdbBtn [ngClass]="btn1class" mdbWavesEffect style="margin-left: 20px;" type="button" (click)="changeEnableButton(1)" class="btnrounded" rounded="true" size="sm">
                  <span *ngIf="btn1">Habilitar</span>
                  <span *ngIf="!btn1">Deshabilitar</span>
                </button>
              </div>
            </li>
            <li>
              <div style="display: inline-block">
                <mat-form-field class="example-form-field my-1" style="display: inline-block; justify-content: center;">
                  <mat-label style="color: orange; font-size: 18px">Web de la marca</mat-label>
                  <input matInput [disabled]="btn2" type="text" [(ngModel)]="marca.url">
                </mat-form-field>
                <button mdbBtn [ngClass]="btn2class" mdbWavesEffect style="margin-left: 20px;" type="button" (click)="changeEnableButton(2)" class="btnrounded" rounded="true" size="sm">
                  <span *ngIf="btn2">Habilitar</span>
                  <span *ngIf="!btn2">Deshabilitar</span>
                </button>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button mdbBtn mdbWavesEffect style="margin: 10px 20px;" type="button" (click)="closeModal()" class="btnrounded peach-gradient" rounded="true" size="sm">
            Cerrar
          </button>
          <button mdbBtn mdbWavesEffect style="margin: 10px 20px;" type="button" (click)="saveChanges()" class="btnrounded dusty-grass-gradient" rounded="true" size="sm">
            Guardar cambios
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
